source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, net5.0, netstandard2.0, netstandard2.1
nuget coverlet.collector
nuget coverlet.msbuild
nuget crayon 2.0.64
nuget FluentAssertions
nuget FsCheck.XUnit
nuget FSharp.Core 6.0.3
nuget FsUnit.Xunit
nuget McMaster.Extensions.CommandLineUtils 4.0.1
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.NET.Test.Sdk
nuget nsubstitute
nuget NuGet.Protocol
nuget spectre.console
nuget System.IdentityModel.Tokens.Jwt
nuget System.Net.Http 4.3.4
nuget System.Text.RegularExpressions 4.3.1
nuget Tk.Extensions
nuget xunit
nuget xunit.runner.visualstudio