source https://api.nuget.org/v3/index.json

// [ FAKE GROUP ]
group Main
    storage: none
    framework: net8.0
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget crayon 
    nuget McMaster.Extensions.CommandLineUtils
    nuget Microsoft.Extensions.DependencyInjection
    nuget spectre.console
    nuget Tk.Extensions
    nuget Tk.Nuget
    


// [ FAKE GROUP ]
group Tests
    storage: none
    framework: net8.0
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget coverlet.collector
    nuget coverlet.msbuild
    nuget FluentAssertions
    nuget FsCheck.XUnit
    nuget FsUnit.Xunit
    nuget McMaster.Extensions.CommandLineUtils    
    nuget Microsoft.NET.Test.Sdk
    nuget nsubstitute
    nuget spectre.console
    nuget System.Net.Http
    nuget System.Text.RegularExpressions
    nuget Tk.Nuget    
    nuget xunit
    nuget xunit.runner.visualstudio

